<% if (!isAuthenticated) { %>
    <!DOCTYPE html>
    <html lang="fa" dir="rtl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>اخطار</title>
    
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/bootstrapCSS/bootstrap.min.css">
    
        <link rel="stylesheet" href="css/font.css">
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="css/navigation.css">
        <link rel="stylesheet" href="css/footer.css">
        <link rel="stylesheet" href="css/error.css">

        </head>
    
        <body class="body">  
            <h3 class="container d-flex justify-content-center py-5">لطفا ابتدا وارد شوید.</h3>
            <div class="conainer d-flex justify-content-center">
                <a href="/login"><button type="button" class="btn btn-primary">ورود</button></a>
            </div>
        </body>
    </html>
    
    <% } %>
    <% if (isAuthenticated) { %>
    <%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="css/readMoreText.css">

    </head>

    <body>
        <%- include('../includes/adminNavigation.ejs') %>
        <main class="float-left w-100">
            <section class="contact float-left w-100 py-4">
                <div class="container d-flex justify-content-center bg-dark text-light">
                    <h2 class="py-4">درخواست های تماس</h2>
                </div>
                <div class="container d-flex justify-content-center">
                    <div class="contact-content float-left w-100 col-12 col-md-6">
                        <% for(var i = 0; i < contacts.length; i++) { %>
                            <div class="contact-card col-12 card float-left px-2 border-0 py-3 bg-light height-auto">
                                <div class="card-body">
                                    <p class="card-text">نام و نام خانوادگی: </p>
                                    <p class="card-text"><%= contacts[i].name %></p>
                                    <p class="card-text">موضوع:</p>
                                    <p class="card-text"><%= contacts[i].subject %></p>
                                    <p class="card-text">ایمیل:</p>
                                    <p class="card-text"><%= contacts[i].email %></p>
                                    <p class="card-text">متن نظر:</p>
                                    <p class="text-read-more card-text"><%= contacts[i].text %></p>
                                    <button class="btn btn-info read-more-btn"><i class="fa fa-chevron-down"></i></button>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>  
            </section>
                       
        </main>

        <%- include('../includes/footer.ejs') %>

<%- include('../includes/end.ejs') %>
<% } %>
