<header class="sticky-top">
    <div class="container-fluid">
        <div class="container-fluid bg-info">
           <div class="container">
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand m-0" href="#"><img src="images/navigation/logo-menu.png" width="200" height="45" alt=""></a>
                </nav>
            </div> 
        </div>
        <div class="container-fluid bg-light sticky-menu">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <button button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto mx-auto">
                            <li class="nav-item <%= path === '/home' ? 'active' : ''%>">
                                <a class="nav-link" href="/home">صفحه اصلی</a>
                            </li>
                            <li class="nav-item <%= path === '/' ? 'active' : ''%>">
                                <a class="nav-link" href="#">راهنمای کاربران</a>
                            </li>
                            <li class="nav-item <%= path === '/' ? 'active' : ''%>">
                                <a class="nav-link" href="#">خدمات مرکز</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    معرفی و قوانین
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item <%= path === '/introduction' ? 'active' : ''%>" href="/introduction">معرفی مرکز و اهداف</a>
                                    <a class="dropdown-item <%= path === '/staff' ? 'active' : ''%>" href="/staff">معرفی افراد و پرسنل</a>
                                    <a class="dropdown-item <%= path === '/principals' ? 'active' : ''%>" href="/principals">روسای مرکز</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item <%= path === '/principles' ? 'active' : ''%>" href="/principles">قوانین و آیین نماه ها</a>
                                </div>
                            </li>
                            <li class="nav-item <%= path === '/contact' ? 'active' : ''%>">
                                <a class="nav-link" href="/contact">ارتباط با مرکز</a>
                            </li>
                            <li class="nav-item <%= path === '/cooperation' ? 'active' : ''%>">
                                <a class="nav-link" href="/cooperation">دعوت به همکاری</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div> 
        </div>
        
    </div>
</header>