<%- include('../includes/head.ejs') %>

<link rel="stylesheet" href="css/guide.css">
</head>
<body>

<%- include('../includes/navigation.ejs') %>

<main class="float-left w-100">
   
    <section class="guides float-left w-100 py-4">
        <div class="container">
            <div class="row float-left w-100">
                <div class="col-12 col-md-6 float-right bg-light">
                    <h4 class="py-4">راهنمای اساتید</h4>
                    <ul class="list-unstyled p-0">
                        <% for(var i = 0; i < guides.length; i++) { %>
                            <% if(guides[i].isForTeachers === true) { %>
                                <li class="py-2"><a href="<%= guides[i].url %>"><i class="fa fa-circle" aria-hidden="true"></i><%= guides[i].title %></a></li>
                            <% } %>
                        <% } %>
                    </ul>
                </div>

                <div class="col-12 col-md-6 float-right bg-light">
                    <h4 class="py-4">راهنمای دانشجویان</h4>
                    <ul class="list-unstyled p-0">
                        <% for(var i = 0; i < guides.length; i++) { %>
                            <% if(guides[i].isForStudents === true) { %>
                                <li class="py-2"><a href="<%= guides[i].url %>"><i class="fa fa-circle" aria-hidden="true"></i><%= guides[i].title %></a></li>
                            <% } %>
                        <% } %>
                    </ul>
                </div>
                <div class="col-12 col-md-6 float-right bg-light">
                    <h4 class="py-4">راهنمای کارکنان</h4>
                    <ul class="list-unstyled p-0">
                        <% for(var i = 0; i < guides.length; i++) { %>
                            <% if(guides[i].isForStaff === true) { %>
                                <li class="py-2"><a href="<%= guides[i].url %>"><i class="fa fa-circle" aria-hidden="true"></i><%= guides[i].title %></a></li>
                            <% } %>
                        <% } %>
                    </ul>
                </div>

                <div class="col-12 col-md-6 float-right bg-light">
                    <h4 class="py-4">راهنمای عمومی</h4>
                    <ul class="list-unstyled p-0">
                        <% for(var i = 0; i < guides.length; i++) { %>
                            <% if(guides[i].isPublic === true) { %>
                                <li class="py-2"><a href="<%= guides[i].url %>"><i class="fa fa-circle" aria-hidden="true"></i><%= guides[i].title %></a></li>
                            <% } %>
                        <% } %>
                    </ul>
                </div>

                <div class="col-12 col-md-6 float-right bg-light">
                    <h4 class="py-4">راهنمای دانش آموختگان</h4>
                    <ul class="list-unstyled p-0">
                        <% for(var i = 0; i < guides.length; i++) { %>
                            <% if(guides[i].isForGraduated === true) { %>
                                <li class="py-2"><a href="<%= guides[i].url %>"><i class="fa fa-circle" aria-hidden="true"></i><%= guides[i].title %></a></li>
                            <% } %>
                        <% } %>
                    </ul>
                </div>
            </div>
            
        </div>  
    </section>

</main>
   
    <%- include('../includes/footer.ejs') %>

<%- include('../includes/end.ejs') %>