<%- include('../includes/head.ejs') %>

</head>
<body>
    
    <%- include('../includes/navigation.ejs') %>
        <p>Title : <%= news.title %> </p>
        <p>description : <%= news.description %> </p>
        <p>date : <%= news.date %> </p>
        <p>author : <%= news.author %> </p>
        <p>text : <%= news.text %> </p>
    <%- include('../includes/footer.ejs') %>

<%- include('../includes/end.ejs') %>