<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="./css/service.css">

</head>
<body>

    <%- include('../includes/navigation.ejs') %>

<main class="float-left w-100">

    <section class="float-left w-100 py-4">
        <div class="container">
            <div class="row float-left w-100">
                <div class="col-12 col-md-6 float-right bg-light">
                    <h4 class="py-4">خدمات اساتید</h4>
                    <ul class="list-unstyled p-0">
                        <% for(var i = 0; i < services.length; i++) { %>
                            <% if(services[i].isForTeachers === true) { %>
                                <li class="py-2">
                                    <img class="card-img-top mx-auto img-service" src="<%= services[i].img || images/news/download-image.jpg %>" alt="Card image cap">

                                    <div class="btn-group dropleft">
                                        <a href="<%= services[i].url %>">
                                            <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <%= services[i].name %>
                                            </button>
                                        </a>
                                        
                                    </div>
                                </li>
                            <% } %>
                        <% } %>
                    </ul>
                </div>

                <div class="col-12 col-md-6 float-right bg-light">
                    <h4 class="py-4">خدمات دانشجویان</h4>
                    <ul class="list-unstyled p-0">
                        <% for(var i = 0; i < services.length; i++) { %>
                            <% if(services[i].isForStudents === true) { %>
                                <li class="py-2">
                                    <img class="card-img-top mx-auto img-service" src="<%= services[i].img || images/news/sms-service.jpg %>" alt="Card image cap">

                                    <div class="btn-group dropleft">
                                        <a href="<%= services[i].url %>">
                                            <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <%= services[i].name %>
                                            </button>
                                        </a>
                                    </div>
                                </li>
                            <% } %>
                        <% } %>
                    </ul>
                </div>
                <div class="col-12 col-md-6 float-right bg-light">
                    <h4 class="py-4">خدمات کارکنان</h4>
                    <ul class="list-unstyled p-0">
                        <% for(var i = 0; i < services.length; i++) { %>
                            <% if(services[i].isForStaff === true) { %>
                                <li class="py-2">
                                    <img class="card-img-top mx-auto img-service" src="<%= services[i].img || images/news/video-stream.jpg %>" alt="Card image cap">

                                    <div class="btn-group dropleft">
                                        <a href="<%= services[i].url %>">
                                            <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <%= services[i].name %>
                                            </button>
                                        </a>
                                    </div>
                                </li>
                            <% } %>
                        <% } %>
                    </ul>
                </div>

                <div class="col-12 col-md-6 float-right bg-light">
                    <h4 class="py-4">خدمات عمومی</h4>
                    <ul class="list-unstyled p-0">
                        <% for(var i = 0; i < services.length; i++) { %>
                            <% if(services[i].isPublic === true) { %>
                                <li class="py-2">
                                    <img class="card-img-top mx-auto img-service" src="<%= services[i].img || images/news/JCVqX0V-thum.jpg %>" alt="Card image cap">

                                    <div class="btn-group dropleft">
                                        <a href="<%= services[i].url %>">
                                            <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <%= services[i].name %>
                                            </button>
                                        </a>
                                    </div>
                                </li>
                            <% } %>
                        <% } %>
                    </ul>
                </div>

                <!-- <div class="col-12 col-md-6 float-right bg-light">
                    <h4 class="py-4">خدمات دانش آموختگان</h4>
                    <ul class="list-unstyled p-0">
                        <% for(var i = 0; i < services.length; i++) { %>
                            <% if(services[i].isForGraduated === true) { %>
                                <li class="py-2">
                                    <img class="card-img-top mx-auto img-service" src="<%= services[i].img || images/news/JCVqX0V-thum.jpg %>" alt="Card image cap">

                                    <div class="btn-group dropleft">
                                        <a href="<%= services[i].url %>">
                                            <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <%= services[i].name %>
                                            </button>
                                        </a>
                                    </div>
                                </li>
                            <% } %>
                        <% } %>
                    </ul>
                </div> -->
            </div>
            
        </div>  
    </section>

</main>
   
<%- include('../includes/footer.ejs') %>

<%- include('../includes/end.ejs') %>